.App {
  width: 100dvw;
  height: 100dvh;
  /* overflow: hidden; */
}
canvas {
  display: block; /* Eliminar espacios en blanco debajo del canvas */
  width: 100vw; /* Ancho del canvas igual al ancho de la ventana */
  height: 100vh; /* Alto del canvas igual al alto de la ventana */
}
